configuration {
  display-drun: "Applications:";
  display-window: "Windows:";
  display-calc: "Calc:";
  drun-display-format: "{name}";
  modi: "window,run,drun,calc";
}

@theme "/home/nick/.local/share/rofi/themes/squared-nord.rasi"
